.review-product{
    margin: 0 60px;
} 

@media(min-width:320px) and (max-width:639px){
    .review-product {
        margin: 0 30px;
        }
}

@media(min-width: 269px) and (max-width: 319px){
    .review-product{
        margin: 0 5px;
    }
}

@media(max-width: 268px){
    .review-product{
        margin: 0 0px;
    }
}



